<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @entry.day %>
</p>

<p>
  <b>Lession:</b>
  <%= @entry.lession %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
