<h1>Listing klasses</h1>

<table>
  <tr>
    <th>Short</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @klasses.each do |klass| %>
  <tr>
    <td><%= klass.short %></td>
    <td><%= link_to 'Show', klass %></td>
    <td><%= link_to 'Edit', edit_klass_path(klass) %></td>
    <td><%= link_to 'Destroy', klass, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Klass', new_klass_path %>
